<div class="p-create-tab-content">
  <form class="form">
    <fieldset>
      <!-- Form Name -->
      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="Location ">Location </label>
        <div class="">
          <input id="Location " name="Location " type="text" placeholder="Location" class="form-control input-md" required="">
          <span class="help-block">Where do you want to work</span>
        </div>
      </div>
      <!-- Textarea -->
      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <label class=" control-label" for="textarea">Estimated Start and End</label>
          </div>
          <div class="col-lg-6">
            <label class=" control-label" for="textarea">Start date</label>
            <input id="Location " name="Location " type="text" placeholder="Start date" class="form-control" required="">
          </div>
          <div class="col-lg-6">
            <label class=" control-label" for="textarea">End date</label>
            <input id="Location " name="Location " type="text" placeholder="End date" class="form-control" required="">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
      <div class="row">
        <div class="col-lg-12">
          <label class=" control-label" for="textarea">People and time</label>
        </div>

          <div class="col-lg-6">
            <label class=" control-label" for="textarea">Number of people (Estimated) </label>
            <input id="Location " name="Location " type="number" placeholder="Number of people" class="form-control" required="">
          </div>
          <div class="col-lg-6">
            <label class=" control-label" for="textarea">Estimated time commitment </label>
            <div class="row">
              <div class="col-lg-3">
                <input type="number" class="form-control">
              </div>
              <div class="col-lg-3">
                <select name="" id="" class="form-control">
                  <option value="" >Hours</option>
                </select>
              </div>
              <div class="col-lg-3">
                <select name="" id="" class="form-control">
                  <option value="">per week</option>
                  <option value="">per month</option>
                  <option value="">per day</option>
                  <option value="">per two weeks</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="Skills ">Skills </label>
        <div class="">
          <input id="Skills " name="Skills " type="text" placeholder="Skills" class="form-control input-md" required="">
          <span class="help-block">Skills requried for this project</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="Skills ">Photos </label>
        <div class="">
          <input id="Photos " name="Photos " type="file" placeholder="Photos" class=" input-md" required="">
          <span class="help-block">Add related photos</span>
        </div>
      </div>



    </fieldset>
  </form>
      <div class="pull-right">
        <a href="" class="btn btn-success"> Review & Submit &rarr;</a>
      </div>
      <br><br><br><br>

</div>
