<style>
  .hero-img{
    position: relative;
    height: 326px;
    overflow: hidden;
  }
  .hero-img img {
    width: 100%;
    opacity: 0.6;
  }
  .hero-img .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 15px 20px;
  }

</style>

<div class="container page">
  <div class="row">
    <div class="col-lg-12">
      <div class="hero-img">
        <img src="images/p1.png" alt="" class="responsive-image" >
        <h2 class="title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, inventore, dicta!
        </h2>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-2">
        <h2 class="text-center">25 </h2>
        <p class="text-center"> poeple working</p>
      </div>
      <div class="col-lg-2">
        <h2 class="text-center">20 </h2>
        <p class="text-center"> hour of work requried</p>
      </div>
      <div class="col-lg-2">
        <h2 class="text-center">10 </h2>
        <p class="text-center"> hour till now</p>
      </div>
      <div class="col-lg-2">
        <h2 class="text-center"> Seattle </h2>
        <p class="text-center"> 512 NE, 98105</p>
      </div>
      <div class="col-lg-2">
        <h2 class="text-center"> On Going </h2>
        <p class="text-center"> 20 days to end</p>
      </div>
      <div class="col-lg-2 text-center">
          <br>
        <button class="btn btn-success btn-lg">Join this project</button>

      </div>
    </div>
<div class="col-lg-12" style="padding: 0 40px;">
<h4>Progress  </h4>
    <div class="progress" style="margin-bottom: 0; width: 50%;">
  <div class="progress-bar progress-bar " role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
</div>
    <div class="col-lg-12" style="padding: 0 40px;">
      <h3>Category</h3>
      <p>
        <span class="label label-info" style="font-size: 14px;"> Gardening </span>&nbsp;&nbsp;&nbsp;
        <span class="label label-info" style="font-size: 14px;"> Lorem. </span>&nbsp;&nbsp;&nbsp;
        <span class="label label-info" style="font-size: 14px;"> Lorem ipsum. </span>
      </p>
      <br>
    </div>

    <div class="col-lg-12" style="padding: 0 40px;">
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt reiciendis consequatur omnis pariatur repudiandae hic quibusdam impedit veniam natus nemo esse, aliquid accusamus rem veritatis, commodi, sed. Beatae, sed aliquam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quidem labore sit nemo magnam quia ratione ducimus quod consequuntur beatae, quisquam tempora natus, explicabo est repellat architecto. Consectetur, ipsam, expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat velit est minima tenetur laboriosam non molestiae. Quis assumenda repudiandae maiores, nobis nulla optio vitae odio, autem quasi delectus iusto.</p>

       <p>

       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt reiciendis consequatur omnis pariatur repudiandae hic quibusdam impedit veniam natus nemo esse, aliquid accusamus rem veritatis, commodi, sed. Beatae, sed aliquam.</p>
      <p>
<img src="http://tympanus.net/Development/Stapel/images/2/1.jpg" alt="" style="text-align: left; margin-right: 20px;" align="left" >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quidem labore sit nemo magnam quia ratione ducimus quod consequuntur beatae, quisquam tempora natus, explicabo est repellat architecto. Consectetur, ipsam, expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat velit est minima tenetur laboriosam non molestiae. Quis assumenda repudiandae maiores, nobis nulla optio vitae odio, autem quasi delectus iusto.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quidem labore sit nemo magnam quia ratione ducimus quod consequuntur beatae, quisquam tempora natus, explicabo est repellat architecto. Consectetur, ipsam, expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat velit est minima tenetur laboriosam non molestiae. Quis assumenda repudiandae maiores, nobis nulla optio vitae odio, autem quasi delectus iusto.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quidem labore sit nemo magnam quia ratione ducimus quod consequuntur beatae, quisquam tempora natus, explicabo est repellat architecto. Consectetur, ipsam, expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat velit est minima tenetur laboriosam non molestiae. Quis assumenda repudiandae maiores, nobis nulla optio vitae odio, autem quasi delectus iusto.
      </p>
      <br>
    </div>

        <div class="col-lg-12" style="padding: 0 40px;">
      <h3>Goal & Targets</h3>
      <ul>
        <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eos, harum.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, dolor, sed. Obcaecati odio deleniti velit veniam eum.</li>
          <li>Lorem ipsum dolor sit amet, consectetur.</li>
      </ul>

  </div>

  <div class="clearfix"></div>
  <div class="col-lg-12" style="padding: 0 40px; margin-bottom: 900px;">
      <h3>Discussion</h3>


  </div>



</div>
