<div class="startup">

  <section style="background:#efefe9;">

    <div class="container">
      <div class="row">
        <br>
        <h2 class="text-center" style="margin: 0 0;"> Account details </h2>
        <div class="board">

          <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
          <tabset>



          <tab active="active4" disabled="tab.disabled">
          <tab-heading>
          <a href="#home" data-toggle="tab" title="welcome">
            <span class="round-tabs four">
            <i class="icon icon-badge"></i>
            </span>
          </a>
          </tab-heading>
          <h3 class="text-center">Little more about you<span style="color:#f48260;"> <em class="icon icon-calandar"></em></span></h3>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <form id="loginForm" method="POST" action="/login/" novalidate="novalidate" class="ng-pristine ng-valid">
                <div class="form-group">
                  <label for="username" class="control-label">School</label>
                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="Seattle public school">
                  <span class="help-block"></span>
                </div>
                <div class="form-group">
                  <label for="locaiton" class="control-label">Your location </label>
                  <input type="locaiton" class="form-control" id="locaiton" name="locaiton" value="" required="" title="Please enter your locaiton" placeholder="Your locaiton eg. Seattle">
                  <span class="help-block"></span>
                </div>
                <div class="form-group">
                  <label for="username" class="control-label">About you</label>
                  <textarea class="form-control"></textarea>
                  <span class="help-block"></span>
                </div>
              </form>
            </div>
            <div class="col-lg-2"></div>
          </div>
<div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
              <button class="btn btn-info" ng-click="active5 = true">Next &rarr;</button>
            </div>
          </div>

          </tab>

          <tab active="active3" disabled="tab.disabled">
          <tab-heading>
          <a href="#home" data-toggle="tab" title="welcome">
            <span class="round-tabs two">
            <i class="glyphicon glyphicon-time"></i>
            </span>
          </a>
          </tab-heading>
          <h3 class="text-center">Time preferences <span style="color:#f48260;">
          <em class="icon icon-calandar"></em></span></h3>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <p class="text-center">How much time would you like to volunteer</p>
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                  <input type="number" class="form-control pull-left" placholder="Number of hours" style="width: 60px;" min='1' placeholder="10">
                  <span class="pull-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                  <input type="number" class="form-control pull-left" placholder="Number of hours" style="width: 60px;" min='1' placeholder="15">
                  &nbsp;&nbsp;&nbsp; hours
                </div>
                <div class="col-lg-3">
                  <select name="" id="" class="form-control">
                    <option value=""> per day </option>
                    <option value=""> per week</option>
                    <option value=""> per month</option>
                    <option value=""> per quarter</option>
                    <option value=""> per two weeks</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
          <div class="clearfix"></div>
          <br>
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class=" control-label" for="checkboxes">What days work for you ?</label>
                <br>
                <div class="">
                  <label class="checkbox-inline" for="checkboxes-0">
                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Monday">
                    Monday
                  </label>
                  <label class="checkbox-inline" for="checkboxes-1">
                    <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Tuesday">
                    Tuesday
                  </label>
                  <label class="checkbox-inline" for="checkboxes-2">
                    <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Wednesday">
                    Wednesday
                  </label>
                  <label class="checkbox-inline" for="checkboxes-3">
                    <input type="checkbox" name="checkboxes" id="checkboxes-3" value="Thursday">
                    Thursday
                  </label>
                  <label class="checkbox-inline" for="checkboxes-4">
                    <input type="checkbox" name="checkboxes" id="checkboxes-4" value="Friday">
                    Friday
                  </label>
                  <label class="checkbox-inline" for="checkboxes-5">
                    <input type="checkbox" name="checkboxes" id="checkboxes-5" value="Saturday">
                    Saturday
                  </label>
                  <label class="checkbox-inline" for="checkboxes-6">
                    <input type="checkbox" name="checkboxes" id="checkboxes-6" value="Sunday">
                    Sunday
                  </label>
                </div>
              </div>
              <p class="help-text"></p>
            </div>
            <div class="col-lg-4"></div>
          </div>
<div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
              <button class="btn btn-info" ng-click="active4 = true">Next &rarr;</button>
            </div>
          </div>

          </tab>


          <tab active="active2" disabled="tab.disabled">
          <tab-heading>
          <a href="#home" data-toggle="tab" title="welcome">
            <span class="round-tabs three">
            <i class="glyphicon glyphicon-heart-empty"></i>
            </span>
          </a>
          </tab-heading>
          <h3 class="text-center">Tell you interested <span style="color:#f48260;"> <em class="icon icon-calandar"></em></span></h3>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <input type="hidden" ng-model="list_of_string_one"  ui-select2="select2OptionsThree" class="">
            </div>
            <div class="col-lg-2"></div>
          </div>
          <div class="clearfix"></div>
          <br><br><br><br>
          <div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
              <button class="btn btn-info" ng-click="active3 = true">Next &rarr;</button>
            </div>
          </div>

          </tab>



          <tab active="active1" disabled="tab.disabled">
          <tab-heading>
          <a href="#home" data-toggle="tab" title="welcome">
            <span class="round-tabs one">
            <i class="glyphicon glyphicon-camera"></i>
            </span>
          </a>
          </tab-heading>
          <h3 class="text-center">Add your photo <span style="color:#f48260;">♥</span></h3>
          <div class="camera">
            Drag and drop from your computer
            <br>
            (or)
            <br>
            <br>
            <button class="btn btn-info"> Click to upload</button>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
              <button class="btn btn-info" ng-click="active2 = true">Next &rarr;</button>
            </div>
          </div>
          </tab>

          <tab active="active5" disabled="tab.disabled">
          <tab-heading>
          <a href="#home" data-toggle="tab" title="welcome">
            <span class="round-tabs five">
            <i class="icon icon-checkmark"></i>
            </span>
          </a>
          </tab-heading>
          <h3 class="text-center">Congrats!!<span style="color:#f48260;"></span></h3>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <span class="text-center">
              <em class="icon icon-new">
              </em>
              </span>
              <h4 class="text-center"> You have successfully created an account!</h4>
              <div class="text-center">
                <br><br><br>
                <a class="btn btn-success btn-lg" href="#/user"> Take me to my account!</a>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
          </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
