<div class="col-lg-6 user-page-info-block">
  <h4 class=""> Suggested projects </h4>
  <ol style="font-size: 18px;">
  <li><a href="#/project">Volunteer to help at a Special Olympics event.</a></li>
  <li><a href="#/project">Set up a buddy system for kids with special needs at your school.</a></li>
  <li><a href="#/project">Raise money for Braille or large print books for blind or visually impaired people.</a></li>
  <li><a href="#/project">Volunteer at an agency that works with children with disabilities.</a></li>
  <li><a href="#/project">Read books or the newspaper on tape for blind or visually impaired people.</a></li>
  <li><a href="#/project">Make gifts with friends for kids in the hospital.</a></li>
  <li><a href="#/project">Prepare sack lunches and deliver them to homeless or homebound people.</a></li>
  <li><a href="#/project">Bring toys to children in the cancer ware of a hospital.</a></li>
  <li><a href="#/project">Work with physically challenged kinds on an art project.</a></li>
  <li><a href="#/project">Build a ramp for a person in a wheelchair so it is easier for them to get in and out of their house.</a></li>
  <br>
    <h5>Share project with friends</h5>
    <ng-include src="'templates/common/share.html'"></ng-include>
</div>
