<div class="col-lg-4 user-page-info-block">
  <h4 class=""> Log your hours</h4>
  <span style='margin-bottom: 5px; display: block;'>Progress this week (40/100 hours)</span>
  <div class="progress" style="width: 90%;">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>
  <p class="text-muted"> Your volunteered <strong class="c3">20 </strong>hours this week </p>
  <div style="display:inline-block; min-height:290px;">
    <datepicker ng-model="dt" show-weeks="true" class="well well-sm"></datepicker>
    <label for="">Number of hours</label>
    <input type="number" class="form-field">
    <br>
    <br>
    <button class="btn btn-info pull-right">Submit</button>
  </div>
</div>
