<div class="col-lg-6 user-page-info-block">
  <h4 class=""> Log your hours</h4>
  <span style='margin-bottom: 5px; display: block;'>Progress this week (40/100 hours)</span>
  <div class="progress" style="width: 90%;">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>
  <h5>Share your progress </h5>
  <style>

  </style>
  <ul class="list-inline social-list-share" style="font-size: 18px;">
    <li><a href="" class="bgc1"> <em class="icon icon-facebook"></a></em></li>
    <li><a href="" class="bgc2"> <em class="icon icon-twitter"></a></em></li>
    <li><a href="" class="bgc3"> <em class="icon icon-google"></a></em></li>
  </ul>
  <p class="text-muted"> Your volunteered <strong class="c3">20 </strong>hours this week </p>
  <div style="width: 60%; min-height:290px;">
    <label for=""> Select the project </label>
    <select name="" id="" class="form-control" required>
      <option value=""> Gardenting at XYz</option>
      <option value=""> Lorem ipsum dolor.</option>
      <option value=""> Lorem ipsum dolor.</option>
    </select>
    <br>
    <label for=""> Select the date </label>
    <input type="text" class="form-control" ng-model='dt' datepicker-popup="dd.MM.yyyy" is-open="openedTwo" ng-click="openTwo($event)" ng-required="true" close-text="Close" required />


    <label for="">Number of hours</label>
    <input type="number" class="form-control">
    <br>
    <button class="btn btn-info pull-right" ng-click="toggleAlert()">Submit</button>
    <div class="clearfix"></div>
    <br>
      <alert type="success" close="toggleAlert($index)" ng-if="showAlert"> Successfully update!!</alert>
  </div>
</div>
