<div class="col-lg-6 user-page-info-block">
  <h4 class=""> What's going on ?</h4>
<div class="timeline-new">
 <div class="timeline-centered">

        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise.</p>
                </div>
            </div>

        </article>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-secondary">
                    <i class="entypo-suitcase"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Update a work </a></h2>
                    <p>You have to volunteer at <strong>Seattle public School</strong> Today.</p>
                </div>
            </div>

        </article>



        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-secondary">
                    <i class="entypo-suitcase"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Update a work </a></h2>
                    <p>You have to volunteer at <strong>Seattle public School</strong> Today.</p>
                </div>
            </div>

        </article>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bgc2">
                    <i class="entypo-suitcase"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Update a work </a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsa, eveniet possimus omnis animi repellat vitae in accusantium eaque consectetur distinctio odio excepturi et temporibus incidunt impedit illum. Optio, id.</p>
                </div>
            </div>

        </article>

        <article class="timeline-entry begin">

            <div class="timeline-entry-inner">

                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i> +
                </div>

            </div>

        </article>

    </div>
</div>


</div>
