<div class="col-lg-6 user-page-info-block">
  <h4 class=""> Log your hours</h4>
  <span style='margin-bottom: 5px; display: block;'>Progress this week (40/100 hours)</span>
  <div class="progress" style="width: 90%;">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>
  <p class="text-muted"> Your volunteered <strong class="c3">20 </strong>hours this week </p>
  <div style="width: 60%; min-height:290px;">
    <label for=""> Select the project </label>
    <select name="" id="" class="form-control">
      <option value=""> Gardenting at XYz</option>
      <option value=""> Lorem ipsum dolor.</option>
      <option value=""> Lorem ipsum dolor.</option>
    </select>
    <br>
    <label for=""> Select the date </label>
    <input type="text" class="form-control" ng-model='dt' datepicker-popup="dd.MM.yyyy" is-open="openedTwo" ng-click="openTwo($event)" ng-required="true" close-text="Close" />


    <label for="">Number of hours</label>
    <input type="number" class="form-control">
    <br>
    <br>
    <button class="btn btn-info pull-right">Submit</button>
  </div>
</div>
