<div class="stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4">
        <div class="stat bgc1">
          <h2>20 <small>hours of</small></h2>
          <h3>Volunteering</h3>
          <em class="icon icon-clock"></em>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="stat bgc2">
          <h2>89 <small>students</small></h2>
          <h3>Voulnteers</h3>
          <em class="icon icon-heart"></em>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="stat bgc3">
          <h2>1k <small>families</small></h2>
          <h3>Served</h3>
          <em class="icon icon-help"></em>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="stat bgc4">
          <h2>2k <small>dollars</small></h2>
          <h3>Funds Raised</h3>
          <em class="icon icon-dollar"></em>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="stat bgc5">
          <h2>20 <small>teachers</small></h2>
          <h3>Contributing</h3>
          <em class="icon icon-teacher"></em>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="stat bgc6">
          <h2>99 <small>projects</small></h2>
          <h3>Undertaken</h3>
          <em class="icon icon-archive"></em>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="text-center">
          <br>
          <br>
          <button class="btn btn-success btn-lg"> Join us ...</button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
