<ng-include src="'templates/landing/header.html'"></ng-include>
<ng-include src="'templates/landing/hero.html'"></ng-include>
<ng-include src="'templates/landing/actions.html'"></ng-include>
<ng-include src="'templates/landing/stats.html'"></ng-include>
<ng-include src="'templates/landing/leaderboard.html'"></ng-include>
<ng-include src="'templates/landing/stories.html'"></ng-include>
<ng-include src="'templates/common/footer.html'"></ng-include>
<ng-include src="'templates/common/login.html'"></ng-include>
<ng-include src="'templates/common/signup.html'"></ng-include>

