<div class="p-create-tab-content">

<h3>Volunteer to give music lessons to people in your community</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nam odio voluptatem reprehenderit, asperiores repellendus commodi in consequuntur debitis quo. Beatae modi, harum ex, ducimus tempora totam sequi cupiditate molestias!</p>
<br>
<div class="row">
  <div class="col-lg-4">
    <p class="text-muted small">
    <em class="icon icon-clock"></em>&nbsp;&nbsp;
    Start Time
  </p>
  </div>
  <div class="col-lg-4">
      <p class="text-muted small">
    <em class="icon icon-clock"></em>&nbsp;&nbsp;
    End Time
  </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <p class="">
    22nd Oct 2014
  </p>
  </div>
  <div class="col-lg-4">
      <p>
    28th Oct 2014
  </p>
  </div>
</div>
<br>
<p class="text-muted small"> <em class="icon icon-user"></em>  People</p>
<p>25 people</p>
<br>
<p class="text-muted small"> <em class="icon icon-bolt"></em>  Skills</p>
<p>Skill1, Skill2, Skill3 </p>
<br>
<p class="text-muted small"> <em class="icon icon-leaf "></em>  Category </p>
<p>Category1, Category2, Category3</p>
<br>
<p class="text-muted small"> <em class="icon icon-flag "></em>  Goals & Targets </p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam explicabo quae aliquid ullam aut saepe dicta, illo distinctio. Optio enim doloribus perspiciatis delectus eum, suscipit odio sequi aliquam at recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus reprehenderit recusandae sit, labore, odit accusamus dicta. Iure totam non doloremque, adipisci nesciunt, dolores earum vero tempore excepturi, eligendi perspiciatis nemo!</p>

<div class="row">
  <div class="col-lg-4">
    <img src="http://tympanus.net/Development/Stapel/images/2/1.jpg" alt="" class="image-responsive">
  </div>
  <div class="col-lg-4">
    <img src="http://tympanus.net/Development/Stapel/images/2/2.jpg" alt="" class="image-responsive">
  </div>
  <div class="col-lg-4">
    <img src="http://tympanus.net/Development/Stapel/images/2/3.jpg" alt="" class="image-responsive">
  </div>
</div>
<br><br>
<div class="pull-right">
<button class="btn btn-success btn-lg">Submit</button>
</div>
<br>
<br>
<br>
<br>



</div>
