<div class="testi">
  <div class="container">
    <div class="row">
      <h3>Thank you note</h3>
    </div>
  </div>
  <div class="carousel-reviews">
    <div class="">
      <div class="row">
        <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-4 col-sm-6">
                <div class="block-text rel zmin">
                  <a title="" href="#">Thanks a lot for your help</a>
                  <br>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatum quia autem repellendus error nisi quo, vero. Harum sequi corrupti delectus eius.</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img src="images/usr/2.png" alt="" height="80px" style="border-radius: 100%;">
                  <a title="" href="#">Anna</a>
                  <i>from Glasgow, Scotland</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">Thanks for your work</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quas, quaerat animi accusantium. Modi deleniti sed veritatis earum, distinctio tempora est corporis.  </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img src="images/usr/1.png" alt="" height="80px" style="border-radius: 100%;">
                  <a title="" href="#">Ella Mentree</a>
                  <i>United States</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">Keep the good work up!!</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officiis, harum debitis vitae laborum tempore distinctio, nisi autem reiciendis quis, provident nulla. </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img src="images/usr/3.png" alt="" height="80px" style="border-radius: 100%;">
                  <a title="" href="#">Rannynm</a>
                  <i>Indonesia</i>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-4 col-sm-6">
                <div class="block-text rel zmin">
                  <a title="" href="#">Hercules</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta assumenda, possimus reprehenderit libero alias commodi perferendis sunt nisi quis in id aut?</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="http://myinstantcms.ru/images/img13.png">
                  <a title="" href="#">Anna</a>
                  <i>from Glasgow, Scotland</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">The Purge: Anarchy</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
                  <p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="http://myinstantcms.ru/images/img14.png">
                  <a title="" href="#">Ella Mentree</a>
                  <i>United States</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">Planes: Fire & Rescue</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
                  <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="http://myinstantcms.ru/images/img15.png">
                  <a title="" href="#">Rannynm</a>
                  <i>Indonesia</i>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-4 col-sm-6">
                <div class="block-text rel zmin">
                  <a title="" href="#">Hercules</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam in, ad nesciunt, quis rem commodi iure placeat eius ipsam inventore vero tempora minima a porro sapiente, ducimus esse debitis?</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="http://myinstantcms.ru/images/img13.png">
                  <a title="" href="#">Anna</a>
                  <i>from Glasgow, Scotland</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">The Purge: Anarchy</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, veritatis perferendis deleniti quos corporis iure consectetur, unde est vitae officiis. Porro voluptas ad, laborum quos perferendis obcaecati sapiente voluptatum.  </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="http://myinstantcms.ru/images/img14.png">
                  <a title="" href="#">Ella Mentree</a>
                  <i>United States</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">Planes: Fire & Rescue</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit adipisci facere dolores, excepturi repellendus eveniet commodi iste, cumque enim incidunt modi odit quis tempore laboriosam ex quas obcaecati deserunt. </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="http://myinstantcms.ru/images/img15.png">
                  <a title="" href="#">Rannynm</a>
                  <i>Indonesia</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
