<style>
</style>
<div class="col-lg-6 user-page-info-block">
  <h4 class=""> Your Projects </h4>
  <div style="height: 600px; padding: 0 10px; overflow-y: auto;">
    <ul class="project-list-mini">
      <li ng-repeat='prj in myProjects'>
        <header ng-click="loadProject()">
          <div class="bg" style='background: url(http://tympanus.net/Development/Stapel/images/2/{{prj.img}}.jpg);'></div>
          <div class="fg">
            <h3 class="truncate100p" ng-click="loadProject()"> {{prj.name}}</h3>
          </div>
        </header>
        <div class="progress" style="margin-top: 10px; height: 16px; margin-bottom: 10px;">
          <div class="progress-bar progress-bar-info progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{prj.percent}}%">
            <span class="sr-only">{{prj.percent}}% Complete (success)</span>
          </div>
        </div>
        <p>
        {{prj.people}} <span class="text-muted"> people working</span> &nbsp;&nbsp;&nbsp;&nbsp;
        {{prj.hours}} <span class="text-muted"> hours of volunteering</span> &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>
        Mo &nbsp;&nbsp;&nbsp;
        Tu &nbsp;&nbsp;&nbsp;
        We &nbsp;&nbsp;&nbsp;
        Th &nbsp;&nbsp;&nbsp;
        <span class="badge" data-original-title="Work requried" data-toggle="tooltip">Sa</span>&nbsp;&nbsp;&nbsp;
        <span class="badge">Su</span>
        </p>
      </li>
    </ul>
  </div>
</div>
