<div class="col-lg-3 user-side">
  <div class="user-img">
    <img src="images/usr/1.png" alt="" class="responsive-image">
  </div>
</div>
<div class="col-lg-9">
  <h2>
  Arya Stark &nbsp;&nbsp;<small style="font-size: 16px;"> <a href=""> Edit</a></small>
  </h2>
  <h4 class="text-muted"> 8th Grade</h4>
  <h4 class="text-muted"> Seattle public school </h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veniam officia, id placeat. Aliquid corporis est, inventore iure ex, nam, velit, porro tenetur qui fugit animi atque optio dolores quidem.</p>
  <hr>
  <h4>Your Badges</h4>
  <ul class="list-unstyled badges-list">
    <li> <div class="badge-nice bgc1" popover="Your are awarded as star of the month for the month jan 2013" popover-trigger="mouseenter" popover-title="Star of the month "> <em class="icon icon-star"></em></div></li>
    <li> <div class="badge-nice bgc2"  popover="Your are awarded as Volunteer of the month for the month jul 2013" popover-trigger="mouseenter" popover-title="Volunteer of the month"> <em class="icon icon-badge"></em></div></li>
    <li> <div class="badge-nice bgc3" popover="Your are awarded as Amazing dwag for the month jan 2013" popover-trigger="mouseenter" popover-title="Amazing dwag"> <em class="icon  icon-paw"></em></div></li>
    <li> <div class="badge-nice bgc4" popover="Your are awarded as Environment Friend for the month Aug 2014" popover-trigger="mouseenter" popover-title="Environment Friend"> <em class="icon icon-pagelines"></em></div></li>
  </ul>
</div>
