<div class="landing-badge">
  <div class="badge-icon" ng-class="{adjust: badge.adjust}">
    <em class="icon icon-{{badge.icon}} {{badge.iclass}}"></em>
  </div>
  <h2 ng-class="{h2adjust: badge.adjust}">{{badge.badge}}</h2>
  <div>
    <a class="badge-user" href="#">
      <img ng-src="images/usr/{{badge.img}}" alt="">
    </a>
  </div>
  <div class="badge-body">
    <a href="" class="badge-user-name-a"><h4 class="badge-heading">{{badge.name}}</h4></a>
    <h5> {{badge.grade}} </h5>
    <h5 class="muted">{{badge.school}}</h5>
  </div>
</div>
